{
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "typescript", "css", "markup", "java"],
        "plugins": ["line-numbers"],
        "theme": "twilight",
        "css": true
      }
    ]
  ]
}
