# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
node_modules
dist
dist-ssr
coverage
*.local
build
coderx-v3
stats.html

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
.cursor/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentation
*文档*/

# 本地 macOS 10.15 兼容性补丁
.pnpmfile.cjs

# Environment variables
.env.development
.env.production
.env.*.local
