:root {
  --cursorDefault: url('@/assets/img/cursor.svg'), auto;
  --pointerDefault: url('@/assets/img/pointer.svg'), auto;
  --fontColor: #5f5f5f;
  --navbarHeight: 80px;
  --blockBg: linear-gradient(90deg, rgba(224, 243, 224, 0.7), rgba(255, 255, 255, 0.7));
  --bg: url('@/assets/img/bg.svg') center/cover no-repeat fixed;
  --red: #ea3329;
  --orange: #eb6a2c;
  --yellow: #f29c38;
  --lightyellow: #ffd321;
  --green: #75fb4c;
  --cyan: #00f0ff;
  --blue: #0c8cfe;
  --darkblue: #003b6e;
  --purple: #e532ad;
  --deeppurple: #970056;
  --darkpurple: #2b0c5c;
  --lightpurple: #3d147f;
  --brightpurple: #8400ff;
  --pink: #ff034a;

  // 悬停只在非触摸设备上可见
  @media (hover: hover) and (pointer: fine) {
    cursor: var(--cursorDefault);

    button,
    a,
    .btn,
    .icon,
    .cover,
    [class$='-action'] .item,
    [class$='-list'] .item,
    .el-avatar,
    .el-tabs__item,
    .el-tag,
    .el-icon,
    .el-upload,
    .el-tooltip__trigger .el-input__inner,
    .el-cascader-panel .el-cascader-node,
    // pagination
    .el-pagination .el-pager li,
    .el-pagination .el-pagination__sizes .el-input__wrapper,
    .el-pagination .el-pagination__sizes .el-input__inner,
    .el-dropdown-menu__item,
    .el-select-dropdown__item,
    // checkbox
    .el-checkbox,
    .el-checkbox .el-checkbox__input,
    // 编辑器
    .w-e-panel-content-emotion li,
    .w-e-select-list li,
    .w-e-panel-content-color li,
    .w-e-modal .btn-close,
    .w-e-panel-content-table td,
    .el-backtop {
      cursor: var(--pointerDefault) !important;
    }
  }

  ::selection {
    background: #81c995;
    color: #fff;
  }
}

hr {
  margin: 40px auto;
  border: 0;
  height: 6px;
  background-image: linear-gradient(90deg, transparent, var(--yellow), var(--red), var(--pink), var(--purple), var(--blue), transparent);
}

::-webkit-scrollbar {
  /*width: 0;宽度为0隐藏*/
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  height: 50px;
  background: #42b983; //滚动条颜色
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: #eee; //滚动条背景色
}
