:deep(.editor-content-view) {
  p,
  li {
    white-space: pre-wrap; /* 保留空格 */
  }
  blockquote {
    border-left: 8px solid #d0e5f2;
    padding: 10px 10px;
    margin: 10px 0;
    background-color: #f1f1f1;
  }

  // 代码块-----------------------------------------------------------

  code {
    font-family: monospace;
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
  }
  pre > code {
    display: block;
    padding: 10px;
  }

  // 表格---------------------------------------------------
  table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 1px solid #ccc;
    min-width: 50px;
    height: 20px;
  }
  th {
    background-color: #f1f1f1;
  }

  // 列表---------------------------------------------------

  ul,
  ol {
    padding-left: 20px;
  }

  input[type='checkbox'] {
    margin-right: 5px;
  }
}
// 自定义样式-----------------------------------------

// 定义混合指令
@mixin p {
  p {
    line-height: 1.5;
    margin: 10px 0;
  }
}

:deep(.w-e-text-container) {
  @include p; //覆盖掉默认自带的p
}

:deep(.editor-content-view) {
  padding: 0 10px;
  @include p;
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.5;
    margin: 20px 0;
  }
  code,
  li {
    line-height: 1.5;
  }
  pre {
    transition: all 0.5s;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 10px rgba(0, 0, 0);
    }
  }
  code {
    // background: #f5f2f0;
    tab-size: 4;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    hyphens: none;
    font-size: 18px;
    background-color: transparent;
  }
  &.preview-content {
    code {
      background: #f5f2f0;
      border: 1px solid #e8e8e8;
    }
  }

  table {
    margin: 10px 0;
    th,
    td {
      line-height: 1.5;
      padding: 3px 5px;
    }
  }

  img {
    max-width: 100%;
    overflow: clip;
    overflow-clip-margin: content-box;
  }

  img.medium-zoom-image {
    cursor: zoom-in;
    transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1) !important;
  }
}
